.sf-progress-bar-wrapper {
  height: 20px;
  width: 100%;
  border-radius: 13px;
  background: #ffffff;
}

.sf-progress-bar {
  height: 20px;
  border-radius: 13px;
  background: var(--primary-color);
}

.sf-progress-bar-label {
  display: block;
  margin-bottom: 5px;
  color: var(--primary-color);
}
